body
{
    background-color:rgb(240, 230, 230);
}
h1
{
    color:rgb(34, 178, 123);
    text-align: center;
    font-family: 'Times New Roman';
    font-size: 48px;
}
h4
{
    color:rgb(3, 3, 8);
    font-family:'Times New Roman';
    font-size: 35px;
    margin:10px;
}
